<p>servers works!</p>

<label>Server name</label>
<!--<input type="text"
class="form-control"
(input)="onUpdateServername($event)">-->

<input type="text"
       class="form-control"
       [(ngModel)]="serverName">


<!--<p>{{serverName}}</p>-->
<button class="btn btn-primary"
        [disabled]='!allowNewServer'
        (click)="onServersCreated()">Add server
</button>
<div *ngIf="serverCreated; else noServer">{{serversCreatedStatus}}</div>
<ng-template #noServer>
  <P>No server was created!</P>
</ng-template>
<p></p>
<p></p>
<p></p>
<label>User name</label>
<input type="text"
       class="form-control"
       [(ngModel)]="userName">
<button class="btn btn-primary"
        [disabled]="userName.length == 0"
        (click)="userName = ''" >Reset  user name
</button>
<div>{{userName}}</div>
<p></p>
<p></p>
<p></p>
<app-server *ngFor="let server of servers"></app-server>
<p></p>
<p></p>
<p></p>
<p></p>
<button class="btn btn-primary"
        (click)="addTimeStamp()" >Display details
</button>
<div *ngIf="showDetails">Secret password - tuna</div>
<p></p>
<p></p>
<p></p>
<p></p>
<div
  *ngFor="let timeStamp of timeStamps"
  [ngStyle]="{backgroundColor: timeStampCount >= 5 ? 'blue' : 'transparent'}"
  [ngClass]="{'white-text' : timeStampCount >= 5}">{{timeStamp}}</div>




